.pic {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  img {
    width: 200px;
    height: 200px;
  }
}

.texto {
  display: inline-block;
  height: 50px;
  width: 200px;
  position:absolute;
}

.current {
  top: 0px;
  
}



.current.move {
  top: -200px;
  
  transition: all .5s ease;
  
}


.next {
  top: 200px;
}

.next.move {
  
  top: 0px;
  transition: all .5s ease;
}



.pic-wrapper {
  background: lightgray;
  top: 0px;
  position: absolute;
}

.mask {
  top:0px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
}

.mask-texto{
  top: 0px;
  width: 200px;
  height: 50px;
  overflow: hidden;
  position: relative;
}