.pic {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  img {
    width: 200px;
    height: 200px;
  }
}

.texto {
  position:absolute;
}

.current {
  top: 200px;
  
}



.current.move {
  top: 0px;
  
  transition: all .5s ease;
  
}

.currentTexto {
  top: 0px;
  
}

.currentTexto.move {
  top: 200px;
  
  transition: all .5s ease;
}

.next {
  top: 400px;
}

.next.move {
  
  top: 200px;
  transition: all .5s ease;
}

.nextTexto {
  top: 200px;
  
  text-align: center;
}

.nextTexto.move{
  top: 0px;
  
  transition: all .5s ease;
}



.pic-wrapper {
  background: lightgray;
  top: -200px;
  position: absolute;
}

.mask {
  top:100px;
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
}

.mask-texto{
  overflow: hidden;
  position: relative;
}