.pic {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: absolute;
  img {
    width: 200px;
    height: 200px;
  }
}

.texto {
  position:absolute;
}

.current {
  top: 0;
  opacity: 1;
}



.current.move {
  top: 200px;
  opacity: 0;
  transition: all .5s ease;
  
}

.currentTexto {
  top: 0px;
  opacity: 1;
}

.currentTexto.move {
  top: 200px;
  opacity: 0.5;
  transition: all .5s ease;
}

.next {
  top: 200px;
}

.next.move {
  opacity: 1;
  top: 0px;
  transition: all .5s ease;
}

.nextTexto {
  top: 200px;
  opacity: 0.5;
  text-align: center;
}

.nextTexto.move{
  top: 0px;
  opacity: 0.5;
  transition: all .5s ease;
}



.pic-wrapper {
  background: lightgray;
  top: 0px;
  position: absolute;
}

.mask {
  overflow: hidden;
  width: 200px;
  height: 200px;
  position: relative;
}

.mask-texto{
  overflow: hidden;
  position: relative;
}