@tailwind preflight;
@tailwind components;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  border: 0;
  border-top: 6px solid #17C671;
}


@tailwind utilities;

@responsive {
  .bg-gradient-green-dark-to-green {
    background-image: linear-gradient(to right, config('colors.green'), config('colors.green-darker'));
  }
  .bg-gradient-blue-dark-to-blue {
    background-image: linear-gradient(to right, config('colors.blue'), config('colors.blue-darker'));
  }
  .relative-margin {
    margin-left: 33%;
  }
}