@tailwind preflight;
@tailwind components;

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: inherit;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  border: 0;
  border-top: 6px solid #17C671;
}

 .headroom--unfixed {
   background: transparent;
 }

 .headroom--pinned {
   background-color: rgba(45, 51, 66, 0.95);
   color: white ;
   z-index: 40 ;
 }

@tailwind utilities;

@responsive {
  .bg-gradient-green-dark-to-green {
    background-image: linear-gradient(to right, config('colors.green'), config('colors.green-darker'));
  }
  .bg-gradient-blue-dark-to-blue {
    background-image: linear-gradient(to right, config('colors.blue'), config('colors.blue-darker'));
  }
  .bg-gradient-grey-dark-to-black {
    background-image: linear-gradient(to right, config('colors.grey-darkest'), config('colors.black'));
  }

  .bg-grey-darkest-semiopaco{
    background-color: rgba(45, 51, 66, 0.95);
  }

  .bg-solid-gradient-white-grey-lightest {
    background:#f7f7f7;
    background: linear-gradient(to right bottom, #f7f7f7 50%, #fff 50%);
  }

  .relative-margin {
    margin-left: 33%;
  }
  

   .pic {
     display: inline-block;
     width: 200px;
     height: 200px;
     position: absolute;
     img {
       width: 200px;
       height: 200px;
     }
   }

   .texto {
     display: inline-block;
     height: 50px;
     width: 200px;
     position: absolute;
     background: white;
   }

   .current {
     top: 0px;
   }

   .current.move {
     top: -200px;
     transition: all .5s ease;
   }

   .next {
     top: 200px;
   }

   .next.move {
     top: 0px;
     transition: all .5s ease;
   }

   .pic-wrapper {
     background: lightgray;
     top: 0px;
     position: absolute;
   }

   .mask {
     top: 0px;
     overflow: hidden;
     width: 200px;
     height: 200px;
     position: relative;
   }

   .mask-texto {
     top: 0px;
     width: 200px;
     height: 50px;
     overflow: hidden;
     position: relative;
   }

}

