@tailwind preflight;
@tailwind components;

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  font-weight: 600;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: inherit;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  border: 0;
  border-top: 6px solid #17C671;
}

@keyframes bajan {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  },
  50%{
    transform: translateY(-60%);
    opacity: 1;
  },
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes desaparecen {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  ,
  50% {
    transform: translateY(60%);
    opacity: 0.5;
  }
  ,
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}


@tailwind utilities;

@responsive {
  .bg-gradient-green-dark-to-green {
    background-image: linear-gradient(to right, config('colors.green'), config('colors.green-darker'));
  }
  .bg-gradient-blue-dark-to-blue {
    background-image: linear-gradient(to right, config('colors.blue'), config('colors.blue-darker'));
  }
  .bg-gradient-grey-dark-to-black {
    background-image: linear-gradient(to right, config('colors.grey-darkest'), config('colors.black'));
  }
  .relative-margin {
    margin-left: 33%;
  }

  .bajan-suave {
    animation: bajan 1s 0s ease-out;
  }

   .desaparecen-suave {
     animation: desaparecen 1s 0s ease-in;
   }

}